<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
	<meta charset="UTF-8"></meta>
	<title>Page Title | Task Name</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"></link>
	<link rel="stylesheet" type="text/css" href="/css/normalize.css"></link>
	<link rel="stylesheet" type="text/css" href="/css/style.css"></link>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'></link>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
	<script src="/js/jquery.modal.js"></script>
	<script src="/js/progress.js"></script>
	<link rel="shortcut icon" href="/img/favicon.ico"></link>
	<link rel="icon" type="image/png" href="/img/favicon-16x16.png" sizes="16x16"></link>
	<link rel="icon" type="image/png" href="/img/favicon-32x32.png" sizes="32x32"></link>
</head>

<body>

						
<header th:fragment="header">
	<img src="/img/al-logo.png" ></img>
	<div class="signout"><a href="#"><strong>Username</strong></a> | <a href="#">signout</a></div>
</header>				
		
		
<aside th:fragment="side">
	<div id="button-container">
		<a href="#"><div class="text-button"></div></a>
		<a href="#"><div class="home-button"></div></a>
		<a href="#"><div class="bubble-button"></div></a>
		<a href="#"><div class="profile-button"></div></a>
	</div>
</aside>
		
<!-- second parameter is the color of the title -->
<div th:fragment="taskTitle" th:class="task-header" th:classappend="${task.get('heading-type')}" class="task-header narrative">
	<p th:text="${task.get('page-heading')}">Task Name | Task Type</p>
</div>
				
<footer th:fragment="footer">
	<a href="course.html"><div class="back"></div></a>
	<div class="cont">
		<progress id="progress-bar" min="1" max="100" value="0"></progress>
		<span class="first visited" alt="Task 1"></span>
		<span class="second"></span>
		<span class="third"></span>
		<span class="fourth"></span>
		<span class="fifth"></span>
		<span class="sixth"></span>
		<span class="seventh"></span>
		<span class="eigth"></span>
	</div> <!-- End Progress Bar -->
</footer>
			
			
</body>

</html>