<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th th:fragment="sectionContent">     
            
    <div class="centre-content" th:with="type=${task.get('page-type')}">
        <div class="container">
            
            <div th:if="${taskName} == 'task19-2'">
                <div th:class="'text-image standard-list ' + ${type}" class="text-image narrative standard-list">
                    <h1 th:text="${task.get('content-title')}">Title</h1>
                    <div th:each="paragraph : ${task.get('paragraphs')}">
                        <p th:text="${paragraph}">Some paragraph</p> 
                    </div>
                </div>
                <a href="task20-1.html"><div class="next-arrow"></div></a>
            </div>
            
            <div th:if="${taskName} ==  'task20-2'">
                <div th:class="'text-image ' + ${type}">
                    <div th:each="paragraph : ${task.get('paragraphs')}">
                        <p th:text="${paragraph}">Some paragraph</p> 
                    </div>
                </div>
                <a href="task20-3.html"><div class="next-arrow"></div></a>
            </div>
            
        </div><!--End Text and Image Container-->

    </div> <!--Centre Content-->
        
</th> <!-- End Narative -->

</html>