<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th th:fragment="sectionContent">            
            
    <div class="centre-content" th:with="type=${task.get('page-type')}">
        <div class="container">
            <div class="text-image syllabus">
                <h3 th:text="${task.get('content-link')}">Download Title</h3>
                <div class="reports-download">
                    <th th:each="download : ${task.get('downloads')}">
                        <a th:href="${download.get('download-path')}" th:text="${download.get('download-caption')}" class="download-button" target="_blank">Caption</a>
                    </th>
                </div>
            </div>
        </div><!--End Text and Image Container-->

   </div> <!-- End Center Content-->
        
</th> <!-- End Narrative -->

</html>