<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
      
<th th:fragment="sectionContent">                                             
    
    <div class="centre-content">
        <div th:class="'container quiz'" th:classappend="${task.get('page-type')}">
            <div class="question">
            
                <div th:each="contents : ${task.get('page-content')}" th:class="'text-image quiz'" th:classappend="${task.get('page-type')}">
                    <th th:each="content : ${contents.get('page-content-content')}">
                        <th th:each="html : ${content}">    
                            <th th:utext="${html}"></th>
                        </th>
                    </th>
                </div>
                                
                <th th:if="${taskName} == 'task2-3'" th:each="option, iterationStatus : ${task.get('quizzOptions')}">
                    <label th:for="'rb' + ${iterationStatus.count}">
                    <input type="radio" th:name="'Q1'" th:id="'rb' + ${iterationStatus.count}" th:text="${option}" 
                    th:title="'Choice '+${iterationStatus.count}" th:value="${iterationStatus.count}==${task.get('correctAnswer')} ? 'true' : 'false'"></input>
                    </label>
                </th>
                
                
                <form th:if="${taskName}=='task11-2'">
                    <textarea rows="12" placeholder="Enter your text here..."></textarea>
                    <input type="button" value="Submit"></input>
                </form> 
                   
            </div>
        </div><!--End  Quiz Container-->
        
        <!-- TODO: make this generic -->
        <a th:href="'#'"><div class="delay-arrow next-arrow"></div></a>
        
    </div>
         
</th> <!-- End Narative -->

</html>