<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th th:fragment="sectionContent">           
            
    <!--  Default Content -->
    <div th:class="centre-content" th:classappend="${task.get('slides')} ? slides : '' ">   
        <div class="container">
         
            <th th:if="${task.get('content')}" th:each="contents : ${task.get('page-content')}">
                
                <th th:if="${contents.get('page-content-type')=='syllabus text-over-slide'}">
                    <div class="zoomViewport zoomTarget selectedZoomTarget zoomNotClickable">
                        <div class="zoomContainer zoomTarget selectedZoomTarget zoomNotClickable" style="transform-origin: 737px 474px 0px; transform: translate(0px, 0px) rotate(0rad) skewX(0rad) scale(1, 1);">
                            <div class="full-image full-screen-image">
                                <img src="/img/bowtie-1.svg" alt="bow tie"></img>
                                <div class="zoom-area-1 zoomTarget" data-targetsize="1.2" data-duration="1200" data-closeclick="true">&nbsp;</div>
                                <div class="zoom-area-2 zoomTarget" data-targetsize="1.2" data-duration="1200" data-closeclick="true">&nbsp;</div>
                                <div class="zoom-area-3 zoomTarget" data-targetsize="1.2" data-duration="1200" data-closeclick="true">&nbsp;</div>
                                <div class="zoom-area-4 zoomTarget" data-targetsize="1.2" data-duration="1200" data-closeclick="true">&nbsp;</div>
                                <div class="zoom-area-5 zoomTarget" data-targetsize="1.2" data-duration="1200" data-closeclick="true">&nbsp;</div>
                                <div class="zoom-area-6 zoomTarget" data-targetsize="1.2" data-duration="1200" data-closeclick="true">&nbsp;</div>
                                <div class="zoom-area-7 zoomTarget" data-targetsize="1.2" data-duration="1200" data-closeclick="true">&nbsp;</div>
                            </div>
                        </div>  
                    </div> <!--End Zoom-->                           
                </th>
                
                <div th:class="'text-image ' + ${contents.get('page-content-type')}" th:classappend="${task.get('page-content-type')}">
                    <th th:each="content : ${contents.get('page-content-content')}">
                        <th th:each="html : ${content}">    
                            <th th:utext="${html}"></th>
                        </th>
                    </th>
                </div>
                
            </th> 

            <th th:if="${task.get('slides')}">    
                <div class="pager"><span class="prevSlide">&lt;</span> <span class="numslides"></span> <span class="nextSlide">&gt;</span></div>
                <div class="slide-thumbnails"></div>            
                <div th:with="slideShowArr=${task.get('slide-show')}" class="slideShow" id="slideshow">              
                    <th th:each="slideShow : ${slideShowArr}">
                        <th th:each="source,iterationStatus : ${slideShow.get('source')}">      
                            <div th:class="${iterationStatus.count}==${iterationStatus.size} ? 'full-screen-image lastImg' : full-screen-image" 
                            th:classappend="${iterationStatus.count}==1 ? ${source.get('image-class')} + ' showImg' : ${source.get('image-class')}">
                                
                                <div th:class="centre-content">
                                    <div th:class="container">
                                        <div th:class="text-image" th:classappend="${task.get('page-type')}">
                                            
                                            <th th:each="html : ${source.get('slideContents')}">    
                                                <th th:utext="${html}"></th>
                                            </th>
                                      
                                            <th th:each="download : ${source.get('download')}">
                                                <a th:href="${download.get('donwload-path')}" th:text="'Read full report here'" target="_blank">Download Link</a>
                                            </th>
                                        </div>
                                    </div> <!-- End Container -->
                                </div> <!-- End Centre-Content -->
                                
                            </div> <!-- End Image -->
                        </th> <!-- End Slides Loop -->
                    </th> <!-- End Slide-Show Source Loop -->
                </div><!--End Slider-->       
            </th>
        
        </div><!--End Container-->
    </div> <!--End Default Content-->
                     
</th> <!-- End Content -->

</html>