<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th th:fragment="sectionContent">         
            
    <div th:each="contents, iter1 : ${task.get('page-content')}">
        <!-- Title of the info page -->
        <div th:if="${iter1.count}==1" th:each="content, iter2 : ${contents.get('page-content-content')}" th:class="'text-image text-over-image'" th:classappend="${task.get('page-type')}">
            <th th:each="html : ${content}">    
                <th th:utext="${html}"></th>
            </th>
        </div>        
    </div> 
    
            
    <div th:class="centre-content" class="centre-content">
        <div th:class="info-box-container" class="info-box-container">
            <xps th:each="contents, iter1 : ${task.get('page-content')}" >
	            <div th:unless="${iter1.count}==1" class="container info-box-modal-container">
	                <span th:each="content,iter2 : ${contents.get('page-content-content')}">
		                <a href="#" th:id="''+${iter2.count}">
				            <div th:each="html : ${content}" th:class="'blue-box blue-box-big'" class="blue-box blue-box-big">    
				                <th th:utext="${html}"></th>
				                <img src="/img/info.png"></img>
				            </div>
					    </a>
				    </span>              	                
	            </div><!-- End Container -->
	        </xps>
        </div><!-- End Box Locate --> 
    </div><!-- End Center Content -->      
</th> <!-- End Narative -->

</html>