/* --------------------------------------------------------
Style Sheet for Air Learning
version: 1.0
author: Jonathan Barr
email: jonbarr85@gmail.com
----------------------------------------------------------*/

html, body{
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	height: 100%;
}

/*----------------------------
My styles start here
----------------------------*/
.form1 {
	margin-top: 5px;
	margin-bottom: 5px;
	padding-bottom: 4px;
}

input.form_b {
    height: 24.4px;	
}

select {
	height: 21.6px;
}

.right {
	display: inline;
	float: right;
	clear: both;
	margin-right: 50%;
}

.left_col {
    width: 50%;
    float: left;
}

.right_col {
	display: inline-block;
    width: 50%;
}

.right-col {
	float: right;
    margin-right: 50%;
    display: inline;
    margin-bottom: 0px;
    width: 180px;    
}

.form_t {
	clear: both;
	text-align: left;
	margin-top: 30px;
	text-decoration: underline;
}

.form_b {
	clear: both; 
	float: left; 
	margin-bottom: 30px;
}

button {
	height: 22px;
	line-height: .8em;
}

.required::after {
	content: "*";
	color: red;	
}

.markdown::after {
	margin-left: 30px;
	content: url("/img/info-dark.png");
}

.textarea {
    width: 68%;
    max-width: 100%;	
    height: 133px;
}

/*----------------------------
My styles end here
----------------------------*/

#wrapper{
	width: 100%;
	height: 100%;
	overflow: hidden; 
}

p{
	font-size: .9em;
	margin: 0;
	padding: 0;
	line-height: 1.7em;
}

ol, ul{
	font-size: .9em;
	padding-left: 20px;
	line-height: 1.7em;
}

h1,h2,h3,h4,h5{
	margin-top: 0;
	color: #01134A;
	font-weight: 500;
}

h1{
	font-size: 1.6em;
	margin-bottom: .4em;
}

h3{
	font-size: 1.2em;
}

h4{
	margin-bottom: .1em;
}

a{
	text-decoration: none;
	color: #01134A;
}

a:hover{
	text-decoration: underline;
}

ol,ul{
	margin: 0;
}

/* ----- Header ----- */

header{
	height: 60px;
	background-color: #01134A;
	border-bottom: 1px solid #fff;
	color: #E5E5E5;
}

.task-header{
	border-bottom: 1px solid #fff;
}

.task-header p{
	font-size: .8em;
	padding: 2px 0px 2px 10px;
	color: #fff;
}

.task-header.narrative{
	background-color: #009640;
}

.task-header.syllabus{
	background-color: #e30613;
}

.task-header.syllabus-narrative{
	background: #e30613; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #009640, #e30613); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #009640, #e30613); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #009640, #e30613); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #009640, #e30613); /* Standard syntax */
}

.engineer{
	background-color: #692c7a;
	font-weight: lighter;
}

.supervisor{
	background-color: #009898;
}

.signout{
	position: fixed;
	top: 20px;
	right: 20px;
}

.signout a{
	color: #fff;
	font-size: .7em;
}

.signout a:hover{
	text-decoration: underline;
}


/* ----- Main Content ----- */

aside{
	height: 100%;
	width: 60px;
	background-color: #01134A;
	border-right: 1px solid #fff;
	float: left;
	color: #E5E5E5;
}

#button-container{
	border-top: 1px solid #fff;
	overflow: hidden;
	height: 301px;
	width: 60px;
	position: absolute;
	bottom: 0px;
	background-image: url('../img/buttons.jpg');
}

.profile-button{
	height: 60px;
	width: 60px;
	position: fixed;
	bottom: 0;
	border-top: 1px solid #fff;
	background-image: url('../img/profile-button.jpg');
}

.profile-button:hover{
	background-image: url('../img/profile-button-hover.jpg');
}

.home-button{
	height: 60px;
	width: 60px;
	position: fixed;
	bottom: 120px;
	border-top: 1px solid #fff;
	background-image: url('../img/home-button.jpg');
}

.home-button:hover{
	background-image: url('../img/home-button-hover.jpg');
}

.text-button{
	height: 60px;
	width: 60px;
	position: fixed;
	bottom: 180px;
	border-top: 1px solid #fff;
	background-image: url('../img/text-button.jpg');
}

.text-button:hover{
	background-image: url('../img/text-button-hover.jpg');
}

.bubble-button{
	height: 60px;
	width: 60px;
	position: fixed;
	bottom: 60px;
	border-top: 1px solid #fff;
	background-image: url('../img/bubble-button.jpg');
}

.bubble-button:hover{
	background-image: url('../img/bubble-button-hover.jpg');
}

#content-container{
	position: relative;
	width: 100%;
	height: 100%;
}

section{
	height: 100%;
	float: left;
	position: absolute;
    right: 0;
    left: 61px;
}

.narative{
	background-color: #E5E5E5;
}

.assessment{
	background-color: #3F4549;
}

.centre-content{
	margin: 0 auto;
	height: 91%;
	display: table;
}

.container{
	display: table-cell;
	vertical-align: middle;
}

.assessment h3{
	color: #000;
	font-weight: 500;
}

.dark-background{
	background-color: #000;
}

/* ----- Text and Image ----- */
.text-image{
	width: 550px;
	background-color: #fff;
	padding: 25px;
	margin: 10px;
	-webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.35);
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.35);
	opacity:1;
}

.text-image.syllabus{
	border-top: 4px solid #e30613;
}

.text-image.syllabus a{
	color: #e30613;
}

.text-image.narrative{
	border-top: 4px solid #009640;
}

.text-image.narrative a{
	color: #009640;
}

.text-image.syllabus h3{
	color: #e30613;
}

.text-image.narrative h3{
	color: #009640;
}

.text-image-right{
	float: right;
	margin-right: 45px;
}

.text-over-slide{
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -267px;
	margin-top: -60px;
}

.text-over-slide-bowtie{
	margin-top: -180px;
}

.text-image.quiz{
	margin: 0px;
	margin-bottom: 10px;
}

.text-image.quiz p{
	color: #000;
	margin-top: 0px;
}

.text-image.quiz a{
	font-size: 1em;
	text-decoration: underline;
}

.text-image.quiz a:hover{
	color: #e30613;
}

.text-image img{
	max-width: 540px;
	margin-bottom: 20px;
}

.text-image h3{
	margin: 0;
}

.text-image h4{
	font-weight: bolder;
}

.text-image p{
	margin-top: 20px;
}

.text-image ol, .text-image ul{
	margin-top: 10px;
	margin-bottom: 10px;
}

.mid-image img{ 
	margin-bottom: -10px;
	margin-top: 10px;
}

.safety-culture ol{
	width: 460px;
}

.safety-culture li{
	margin-bottom: 10px;
}

.safety-culture p{
	margin-bottom: 10px;
}

.standard-list li{
	margin-bottom: 10px;
}

.strong-statement{
	background-color: #ff8b00;
	border-top: none; 
}

.strong-statement h3, .strong-statement p, .strong-statement a{
	color: #fff;
}

.strong-statement h3{
	margin-bottom: 0.4em;
}

.strong-statement p{
	font-size: .8em;
	margin-top: 10px;
}

.strong-statement a{
	font-size: 1em;
	text-decoration: underline;
}


/* ------- Slider ---------*/

#slideshow { 
    position: relative; 
    width: 100%; 
    height: 100%; 
    padding: 18px;
    display: inline-table; 
}

#slideshow > div { 
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
}

#slides img{
	width: 100%;
}

.slides{
	width: 100%;
	height: 100%;
}

.slideShow > div:not(.showImg) {
    display: none;
}
.showImg {
    display: block;
    width: 100%;
    height: 100%;
}

iframe{
	width: 100%;
	height: 100%;
	border: none;
}


/* ------- Background Images ------*/

.back1{
	background: url('../img/intro-background-image.jpg') no-repeat center center fixed;
}

.back14{
	background: url('../img/task14.jpg') no-repeat center center fixed;
}

.back15{
	background: url('../img/task15.jpg') no-repeat center center fixed;
}

.embraer-full-image{
	background: url('../img/task1-1.jpg') no-repeat center center fixed;
}

.flybe-landing-full-image{
	background: url('../img/flybe-landing.jpg') no-repeat center center fixed;
}

.flybe-blur-image{
	background: url('../img/flybe-blur.jpg') no-repeat center fixed;
}

.full-image img{
	width: 100%;
}


.slide img{
	width: 100%;
	height: auto;
}

.bubble-back-image{
	background: url('../img/bubble-back.jpg') no-repeat center center fixed;
}
.task2-2-image{
	background: url('../img/task2-2.jpg') no-repeat center center fixed;
}

.task2-3-image{
	background: url('../img/task2-3.jpg') no-repeat center center fixed;
}

.task3-1-image{
	background: url('../img/task3-1.jpg') no-repeat center center fixed;
}

.task3-2-image{
	background: url('	/img/task3-2.jpg') no-repeat center center fixed;
}

.task3-3-image{
	background: url('../img/task3-3.jpg') no-repeat center center fixed;
}

.task3-4-image{
	background: url('../img/task3-4.jpg') no-repeat center center fixed;
}

.task3-5-image{
	background: url('../img/task3-5.jpg') no-repeat center center fixed;
}

.task3-6-image{
	background: url('../img/task3-6.jpg') no-repeat center center fixed;
}

.task3-7-image{
	background: url('../img/task3-7.jpg') no-repeat center center fixed;
}

.task4-1-image{
	background: url('../img/task4-1.jpg') no-repeat center center fixed;
}

.task4-2-image{
	background: url('../img/task4-2.jpg') no-repeat center center fixed;
}

.task6-2-image{
	background: url('../img/task6-2.jpg') no-repeat center center fixed;
}

.task8-2-image{
	background: url('../img/task8-2.jpg') no-repeat center center fixed;
}

.task9-1-image{
	background: url('../img/task9-1.jpg') no-repeat center center fixed;
}

.task9-2-image{
	background: url('../img/task9-2.jpg') no-repeat center center fixed;
}

.task9-3-image{
	background: url('../img/task9-3.jpg') no-repeat center center fixed;
}

.task10-1-image{
	background: url('../img/task10-1.jpg') no-repeat center center fixed;
}

.task11-1-image{
	background: url('../img/task11-1.jpg') no-repeat center center fixed;
}

.task11-2-image{
	background: url('../img/task11-2.jpg') no-repeat center center fixed;
}

.task12-1-image{
	background: url('../img/task12-1.jpg') no-repeat center center fixed;
}

.task12-2-image{
	background: url('../img/task12-2.jpg') no-repeat center center fixed;
}

.task13-1-image{
	background: url('../img/task13-1.jpg') no-repeat center center fixed;
}

.task13-2-image{
	background: url('../img/task13-2.jpg') no-repeat center center fixed;
}

.task14-1-image{
	background: url('../img/task14-1.jpg') no-repeat center center fixed;
}

.task14-2-image{
	background: url('../img/task14-2.jpg') no-repeat center center fixed;
}

.task15-1-image{
	background: url('../img/task15-1.jpg') no-repeat center center fixed;
}

.task15-2-image{
	background: url('../img/task15-2.jpg') no-repeat center center fixed;
}

.task16-1-image{
	background: url('../img/task16-1.jpg') no-repeat center center fixed;
}

.task16-2-image{
	background: url('../img/task16-2.jpg') no-repeat center center fixed;
}

.task18-1-image{
	background: url('../img/task18-1.jpg') no-repeat center center fixed;
}

.task18-2-image{
	background: url('../img/task18-2.png') no-repeat center center fixed;
}

.task18-4-image{
	background: url('../img/task18-4.jpg') no-repeat center center fixed;
}

.task19-1-image{
	background: url('../img/task19-1.jpg') no-repeat center center fixed;
}

.task20-1-image{
	background: url('../img/task20-1.jpg') no-repeat center center fixed;
}

.task20-2-image{
	background: url('../img/task20-2.jpg') no-repeat center center fixed;
}

.task20-4-image{
	background: url('../img/task20-3.jpg') no-repeat center center fixed;
}

.task21-1-image{
	background: url('../img/task21-1.jpg') no-repeat center center fixed;
}

.task21-2-image{
	background: url('../img/task21-2.jpg') no-repeat center center fixed;
}

.task21-3-image{
	background: url('../img/task21-3.jpg') no-repeat center center fixed;
}

.task21-4-image{
	background: url('../img/task21-4.jpg') no-repeat center center fixed;
}

.task22-1-image{
	background: url('../img/task22-1.jpg') no-repeat center center fixed;
}

.task23-1-image{
	background: url('../img/task23-1.jpg') no-repeat center center fixed;
}

.task23-2-image{
	background: url('../img/task23-2.jpg') no-repeat center center fixed;
}

.task23-4-image{
	background: url('../img/task23-4.png') no-repeat center center fixed;
}

.task23-5-image{
	background: url('../img/task23-5.jpg') no-repeat center center fixed;
}

.task23-6-image{
	background: url('../img/task23-6.jpg') no-repeat center center fixed;
}

.task24-1-image{
	background: url('../img/task24-1.jpg') no-repeat center center fixed;
}

.task24-2-image{
	background: url('../img/task24-2.jpg') no-repeat center center fixed;
}

.task24-3-image{
	background: url('../img/task24-3.jpg') no-repeat center center fixed;
}

.task24-4-image{
	background: url('../img/task24-4.jpg') no-repeat center center fixed;
}

.aloha-flight-243-image{
	background: url('../img/aloha-flight-243.jpg') no-repeat center center fixed;
}

.ba-plane-with-no-cowling-image{
	background: url('../img/ba-plane-with-no-cowling.jpg') no-repeat center center fixed;
}

.jal123-witness-image{
	background: url('../img/jal123-witness.jpg') no-repeat center center fixed;
}

.a380-flaps-2-image{
	background: url('../img/a380-flaps-2.jpg') no-repeat center center fixed;
}

.jet-blue-image{
	background: url('../img/jet-blue.jpg') no-repeat center center fixed;
}

.pylon1-image{
	background: url('../img/pylon1.jpg') no-repeat center center fixed;
}

.gen-ex-image{
	background: url('../img/gen-ex.jpg') no-repeat center center fixed;
}

.swiss-cheese-image{
	background: url('../img/swiss-cheese.jpg') no-repeat center center fixed;
}

.technician-image{
	background: url('../img/technician1.jpg') no-repeat center center fixed;
}
.technicians2-image{
	background: url('../img/technicians2.jpg') no-repeat center center fixed;
}

.team-image{
	background: url('../img/team.jpg') no-repeat center center fixed;
}

.night-flight-image{
	background: url('../img/night-flight.jpg') no-repeat center center fixed;
}

.snow-flight-image{
	background: url('../img/snow-flight.jpg') no-repeat center center fixed;
}

.blizzard-flight-image{
	background: url('../img/blizzard-flight.jpg') no-repeat center center fixed;
}

.e195-1-image{
	background: url('../img/e195-1.jpg') no-repeat center center fixed;
}

.e195-2-image{
	background: url('../img/e195-2.jpg') no-repeat center center fixed;
}

.e195-3-image{
	background: url('../img/e195-3.jpg') no-repeat center center fixed;
}

.sam-spade-image{
	background: url('../img/1920-sam-spade.jpg') no-repeat center center fixed;
}

.fan-cowls-image{
	background: url('../img/fan-cowls.jpg') no-repeat center center fixed;	
}

.red-test-image{
	background: url('../img/aloha-flight-243-red.jpg') no-repeat center center fixed;	
}

.green-test-image{
	background: url('../img/aloha-flight-243-green.jpg') no-repeat center center fixed;	
}


.full-screen-image{
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


/* ----- Next Arrow ----- */

.next-arrow{
	position: fixed;
	top: 50%;
	right: -1px;
	width: 41px;
	height: 41px;
	background-image: url('../img/next-arrow.jpg');
	cursor: pointer;
}

.next-arrow:hover{
	background-image: url('../img/next-arrow-hover.jpg');
	cursor: pointer;
}


/* ----- rollover images ----- */

.outer{
    width: 200px;
    height: 200px;
    overflow:hidden;
    float: left;
    margin: 20px;
    position: relative;
    border: 1px solid #000;

}

.outer img{
	max-width:100%;
	max-height:100%;
	min-width:100%;
	min-height:100%;
	position: absolute;
}
.box{
    width: 200px;
    height: 200px;
    margin-top: 160px;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all: 0.8s ease;
    transitions: all 0.8s ease;
    background: rgba(0, 0, 0, 0.60);
    border-top: 1px solid #fff;
    padding: 10px;
    position: absolute;
}
.outer:hover > .box{
    margin-top: 80px;
    position: absolute;
}
.box p{
    color: white;
    margin: 0;
}

.outer.clear{
	clear: both;
}

.box h3{
	color: #fff;
	margin: 0;
	font-size: .9em;
	font-weight: 600;
	margin-bottom: 8px;
}

.box a{
	color: #fff;
	text-decoration: underline;
}

.box a:hover{
	color: #01134A;
}


/* ----- Login ----- */

.logo-container{
	margin: 0 auto;
	width: 180px;
	margin-bottom: 20px;
}


/* ----- Form ----- */

.form{
	margin: 0 auto;
	width: 320px;
}

.login{
	width: 280px;
}

.download-buttons {
	width: 170px;
	margin-right: 10px;
	float: right;
}

.form input{
	background-color: #fff;
	border: 1px solid #000;
	margin-bottom: 10px;
	width: 100%;
	height: 25px;
	padding: 5px;
	cursor: pointer;
}

.submit input, .download input, .upload input{
	background-color: #01134A;
	border: none;
	margin-bottom: 10px;
	width: 50%;
	height: 40px;
	padding: 5px;
	float: left;
	cursor: pointer;
	color: #fff;
}

.download input{
	background-color: #e30613;
	width: 150px;
	margin-left: 20px;
	-webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.35);
}

.upload input{
	width: 150px;
	-webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.35);
}

select{
	margin-bottom: 30px;
    width: 100%;
    cursor: pointer;
}

.forgot-password a{
	float: left;
	color: #000;
	display: block;
	padding-top: 13px;
    padding-left: 14px;
}

.forgot-password a:hover{
	text-decoration: underline;
}

.meda-container{
	margin: 0 auto;
	width: 300px;
	margin-bottom: 20px;
}

/* ----- quiz ----- */

.quiz{
	margin: 0 auto;
	width: 534px;
}

.quiz input[type="radio"]{
	display: none;

}

.quiz label{
	display: block;
    color: #000;
    border: 1px solid #000;
    padding: 20px;
    background-color: #E5E5E5;
    margin-top: 10px;
    text-align: center;
}

.quiz label:hover{
	background-color: #fff;
}

.quiz span{
	width: 500px;
    height: 61.8182px;
}

.label-correct{
	background-color: green;
}

.label-incorrect{
	background-color: red;
}

.quiz input{
	background-color: #00963E;
	border: none;
	padding: 5px 10px;
	color: #fff;
}

.quiz.syllabus input{
	background-color: #e30613;
}

.quiz textarea{
	border: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	width: 100%;
	padding: 10px;
}


/* ----- Blue Boxes ----- */

.blue-box, .blue-box-big{
	background-color: rgba(1, 19, 74, 0.85);
	text-align: center;
	padding: 10px 20px 10px 20px;
	color: #fff;
	overflow: hidden;
}

.blue-box-big{
	background-color: rgba(1, 19, 74, 1);
	height: 80px;
	display: table;
	width: 80%;
}

.blue-box:hover{
	background-color: rgba(1, 19, 74, 1);
}

.blue-box-big:hover{
	background-color: rgba(3, 43, 124, 1);
}

.box1,
.box2,
.box3,
.box4,
.box5,
.box6,
.box7,
.box8{
	position: absolute;
	z-index: 10;
	
}

.blue-box p{
	float: left;
	font-size: 1em;
}

.blue-box img{
	float: right;
	padding-top: 2px;
	margin-left: 10px; 
}

.blue-box-big h2{
	float: none;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	color: #fff;
}

.info-box-container{
	display: table;
	height: 100%;
}

.info-box-modal-container{
	display: table-cell;
	vertical-align: middle;
}

.info-box-modal-container a:hover{
	text-decoration: none;
}

#slips, #error1{
	position: absolute;
	left: 20%;
	width: 20%;
	margin-left: -5%;
}

#lapses, #error2{
	position: absolute;
	left: 45%;
	width: 20%;
	margin-left: -5%;
}

#mistake, #error3{
	position: absolute;
	left: 70%;
	width: 20%;
	margin-left: -5%;
}

/* ----- Charts ----- */

.chart-container{
	background-color: #fff;
	padding: 25px;
	border-left: 4px solid #01134A;
}



/* ----- Audio ----- */

audio{
	margin: 0 auto;
	width: 100%;
	margin-top: 50px;
}


/* ----- Video ----- */

#video-overlay { 
	position: absolute; 
	width: 100%; 
	height: 100%; 
	z-index: 999;  
}

.corner {
	position: absolute;
	right: 30px;
	z-index: 300;
	margin-top: 30px;
}

#slideshow .corner{
	right: 70px;
}

/* ----- footer ----- */

footer{
	bottom: 60px;
	height: 40px;
	width: 100%;
	float: left;
	position: absolute;
}

.back{
	position: absolute;
	width: 20px;
	height: 20px;
    left: 15px;
    bottom: 15px;
    z-index: 100;
    background-image: url("../img/back-arrow.jpg");
    cursor: pointer;
}


.back:hover{
	background-image: url("../img/back-arrow-hover.jpg");
	cursor: pointer;
}

.cont *{
  box-sizing: border-box;
}

.cont{
  height: 100%;
  width: 576px;
  left: calc(50% - 288px);
  padding: 0;
  margin: 0 auto;
  position: absolute;
}
#progress-bar{
  -webkit-appearance: none;
  width: 576px;
  color: #01134A;
  height: 2px;
  margin: 0 auto;
}
footer span {
  height: 10px;
  width: 10px;
  border-radius: 100%;
  border: 1px solid #01134A;
  background:#fff;
  position: absolute;
  left:0;
  top: 12px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.second{
  left: 80px;
}
.third{
  left: 160px;
}
.fourth{
  left: 242px;
}
.fifth{
  left: 325px;
}
.sixth{
  left: 407px;
}
.seventh{
  left: 489px;
}
.eigth{
  left: 574px;
}
#progress-bar::-webkit-progress-value{ /* Changes line color */
  background: #000;
  transition: all 0.4s ease-in-out;
}
#progress-bar::-webkit-progress-bar{ /* Changes background color */
  background: #fff;
}
.visited{
  border-color:#fff;
  background: #032B7C;
  transition: all 0.4s ease-in-out;
}

label{
	font-size: .8em;
    padding: 0 10px;
    margin: 0;
    color: #e1e1e1;
}



/*------- Modal --------*/

/**
* These styles are developed in conjunction with the jQuery modal plugin
* Developed by Joris Vreeke | www.jorisvreeke.com
* Copyright 2011 All Rights Reserved
*/


/**
* #blackscreen is the background layer that shades down the underlaying page  
*/
#blackscreen{
	background-color:#000;
	bottom:0;
	left:0;
	margin:0;
	padding:0;
	position:fixed;
	top:0;
	z-index:999;
}

/**
* #closeblackscreen is the little circle with an x in it
* at the right top corner of the modal
*/
#closeblackscreen{	
	background-color:#000;
	border:2px solid #fff;
	border-radius:15px;
	color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	height:20px;
	line-height:18px;
	position:absolute;
	text-align:center;
	width:20px;
	z-index: 10000000;
	-moz-box-shadow: 0 0 3px #000;
	-webkit-box-shadow: 0 0 3px #000;
	-box-shadow: 0 0 3px #000;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
}

/**
* .closeblackscreen_over is displayed on hovering over the close button
*/
.closeblackscreen_over{
	background-color:#999 !important;
	cursor:pointer;
}

/**
* #modal is the main message box
*/
#modal{
	font-size:13px;
	line-height:21px;
	padding:20px;
	
	-moz-box-shadow: 0 0 20px #333;
	-webkit-box-shadow: 0 0 20px #333;
	-box-shadow: 0 0 20px #333;
	
	position: absolute;
	background-color: #fff;
	opacity: 1;
	z-index: 9999;
}



/**
* #modaltitle holds the text that is displayed on top of the screen  
*/
#modaltitle{
	background-color: #01134A;
	color: #fff;
	margin: -20px -20px 15px;
	padding: 10px 20px;	
	-moz-box-shadow: 0 1px 1px #CCCCCC;
	-webkit-box-shadow: 0 1px 1px #CCCCCC;
	box-shadow: 0 1px 1px #CCCCCC;
}


/**
*------------------------------------------------------------------
*
* DON'T CHANGE THE SETTINGS BELOW
*/
#offsetter{
	position:fixed;
	width:1px;
	height:1px;
	top:0;
	left:0;
	z-index:-1;
	background-color:#fff;
	border:1px solid silver;
	opacity:0;
	color:#FFF;
}

.modal-window{
	width: 550px;
	overflow: hidden;
}

.modal-text{
	width: 58%;
	margin-right: 20px;
	float: left;
}

.modal-image{
	width: 38%;
	float: left;
}





/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{
	position:absolute; 
	top:0; 
	left:0; 
	z-index:9999; 
	overflow:hidden;
}

#cboxWrapper {
	max-width:none;
}

#cboxOverlay{
	position:fixed; 
	width:100%; 
	height:100%;
}

#cboxMiddleLeft, #cboxBottomLeft{
	clear:left;
}

#cboxContent{
	position:relative;
}

#cboxLoadedContent{
	overflow:auto; 
	-webkit-overflow-scrolling: touch;
}

#cboxTitle{
	margin:0;
}

#cboxLoadingOverlay, #cboxLoadingGraphic{
	position:absolute; 
	top:0; 
	left:0; 
	width:100%; 
	height:100%;
}

#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{
	cursor: pointer;
}

.cboxPhoto{
	float:left; 
	margin:auto; 
	border:0; 
	display:block; 
	max-width:none; 
	-ms-interpolation-mode: bicubic;
}

.cboxIframe{
	width:100%; 
	height:100%; 
	display:block; 
	border:0; 
	padding:0; 
	margin:0;
}

#colorbox, #cboxContent, #cboxLoadedContent{
	box-sizing:content-box; 
	-moz-box-sizing:content-box; 
	-webkit-box-sizing:cont
	ent-box;
}


/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox. They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{
	background: #000;
}

#colorbox{
	outline:0;
}

   
#cboxContent{
	/*background:#fff; */
	overflow:hidden;
}

.cboxIframe{
	/*background:#fff;*/
}

#cboxError{
	padding:50px; 
	border:1px solid #ccc;
}

#cboxLoadedContent{
	/*border: 1px solid #fff;*/
}

#cboxTitle{
	position:absolute; 
	bottom:4px; 
	left:0; 
	text-align:center; 
	width:100%; 
	color:#949494;
}

#cboxCurrent{
	position:absolute; 
	bottom:4px; 
	left:58px; 
	color:#949494;
}



/* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {
	border:0; 
	padding:0; 
	margin:0; 
	overflow:visible; 
	width:auto; 
	background:none; 

}

/* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
#cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {
	outline:0;
}


#cboxSlideshow{
	position:absolute; 
	bottom:4px; 
	right:30px; 
	color:#0092ef;
}

#cboxPrevious{
	position:absolute; 
	bottom:0; 
	left:0; 
	background:url(../img/controls.png) no-repeat -75px 0; 
	width:25px; 
	height:25px; 
	text-indent:-9999px;
}

#cboxPrevious:hover{
	background-position:-75px -25px;
}

#cboxNext{
	position:absolute; 
	bottom:0; 
	left:27px; 
	background:url(../img/controls.png) no-repeat -50px 0; 
	width:25px; 
	height:25px; 
	text-indent:-9999px;
}

#cboxNext:hover{
	background-position:-50px -25px;
}

#cboxClose{
	position:absolute; 
	top:0; 
	left:0; 
	background:url(../img/controls.png) no-repeat -48px 0; 
	width:25px; 
	height:25px; 
	text-indent:-9999px;
}

#cboxClose:hover{
	background-position:-48px -25px;
}



.skype{
	width: 218px;
    height: 313px;
    overflow: hidden;
}


/* Drag Drop */

.dropzone,
.bubbletextzone{
	
	height: 100%;
    width: 20%;
    position: absolute;
    z-index: 10;
    display: table;
}

.droparea,
.bubbletextarea{
	background: rgba(0,0,0,.3);
    display: table-cell;
    color: #fff;
    width: 100%;
    height: 100%;
}

.bubbletextarea{
	padding: 40px;
}
.bubbletextarea p{
	margin-top: 100px;
}

.bubbletextarea .hide{
	position: absolute;
    top: 40px;
    right: 20px;
    font-size: 1.3em;
    border: 1px solid #777;
    padding: 10px;
    height: 20px;
    width: 20px;
    text-align: center;
    line-height: 20px;
    background-color: rgba(0,0,0,0.3);
    z-index: 10;
}

.droparea-highlight{
	background-color: rgba(0,0,0,.2);
}


.droplist{
	width: 98%;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 2% 0% 0% 2%;
    margin-bottom: 10px;
}

.droplist p{
	font-size: 1.15em;
}

.droplist li{
	background-color: rgba(1, 19, 74, 1);
	text-align: center;
	padding: 4% 8.5% 4% 8.5%;
	color: #fff;
	width: 78%;
    margin-bottom: 5px;
}

.droplist li.failure-sequence-submit-li{
	background-color: rgba(0,0,0,0);
	border: none;
}

.blue-box.draggable{
	cursor: move;
}

#failure-sequence-submit{
	opacity: 0;
}

#failure-sequence-submit,
.download-button{
	border: none;
	height: 40px;
	padding: 5px;
	cursor: pointer;
	color: #fff;
	background-color: #01134A;
	width: 150px;
	margin-bottom: -40px;
	-webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.35);
}

.download-button{
	padding: 10px;
	display: inline-block;
	text-align: center;
	line-height: 40px;
	margin: 20px 0;
}

.reports-download{
	text-align: center;
}

.reports-download a{
	margin-right: 20px;
}

.text-over-image{
	position: absolute;
    width: 400px;
}

.safety-model-text{
	width: 200px;
}

.bowtie-text{
    overflow: hidden;
    border-top: 1px solid #000;
    margin-top: 20px;
}

.bowtie-left-text, .bowtie-right-text{
	width: 48%;
	float: left;
	margin-top: 20px;
	margin-right: 2%;
	height: auto;
}

.bowtie-left-text p, .bowtie-right-text p{
	font-size: 0.8em;
}

.bowtie-left-text h5, .bowtie-right-text h5{
	margin-bottom: 5px;
}

.text-over-image-drag{
	left: 20%;
}

.drag-here{
	border: 3px dashed rgba(255,255,255,0.5) !important;
}

.h2-in-bowtie {
    margin-top: 20px;
}

/*Bubble Graphs*/
.donut{
	width: 140px;
	height: 140px;
	position: absolute;
	float: left;
	background-color: rgba(255,255,255,.2);
    border-radius: 200px;
}

#area1{
	top: 4%;
	left: 5%;
}

#area2{
	top: 4%;
	left: 43%;
}

#area3{
	top: 4%;
	right: 5%;
}

#area4{
	top: 34%;
	left: 5%;
}
#area5{
	top: 34%;
	left: 43%;
}
#area6{
	top: 34%;
	right: 5%;
}
#area7{
	bottom: 18%;
	left: 5%;
}
#area8{
	bottom: 18%;
	left: 43%;
}
#area9{
	bottom: 18%;
	right: 5%;
}

.pie-subtitle{
	display: none;
}

.donut-content{
	text-align: center;
	position: absolute;
	z-index: 10;
	width: 200px;
	left: -55px;
	background-color: #fff;
	padding: 10px;
	border-top: 4px solid #01134A;
}


#bubble-tooltip{
	position: absolute;
	top:50%;
	left: 25%;
	width: 50%;
	background-color: #fff;
	padding: 25px;
	border: 4px solid #93c648;
	text-align: center;
	position: absolute;
	z-index: 20;
	-webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.35);
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.35);
	opacity: 0;

}

.pager{
	position: absolute;
	z-index: 200;
	color: #fff;
	top: 0px;
	width: 100%;
	text-align: center;
	font-weight: bold;
}

.slidenum {
    display: inline-block;
    width: 15px;
    height: 1px;
    border: 1px solid #fff;
    background-color: #fff;
    margin: 2px;
    border-radius: 5px;
    vertical-align: middle;
}

.slidenum:hover, .current-pager{
	background-color: rgba(1,19,74,1);
	border-color: rgba(1,19,74,1);
	cursor: pointer;
}

.nextSlide, .prevSlide{
	cursor: pointer;
}
.nextSlide:hover, .prevSlide:hover{
	color: rgba(1,19,74,1);
}

.slide-thumbnails{
	margin: 10px auto;
	position: absolute;
	z-index: 200;
	color: #fff;
	top: 27px;
	margin: 0 auto;
	width:100%;
	text-align: center;
}

.slide-thumbnails img{
	margin: 10px;
	-webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.35);
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.35);
	cursor: pointer; 
}

.slide-thumbnails img:hover{
	-webkit-box-shadow: 0px 0px 40px rgba(255, 255, 255, 0.35);
	-moz-box-shadow: 0px 0px 40px rgba(255, 255, 255, 0.35);
	box-shadow: 0px 0px 40px rgba(255, 255, 255, 0.35);
}

.active-thumb{
	border-top: 2px solid rgba(1,19,74,1);
}

.zoom-area-1{
	border: 1px solid rgba(0,0,0,0);
    position: absolute;
    top: 14.25%;
    left: 9.25%;
    width: 17%;
    height: 23%;
    z-index: 100;
}

.zoom-area-2{
	border: 1px solid rgba(0,0,0,0);
    position: absolute;
    top: 29.25%;
    left: 9.25%;
    width: 17%;
    height: 23%;
    z-index: 100;
}

.zoom-area-3{
	border: 1px solid rgba(0,0,0,0);
    position: absolute;
    top: 43.25%;
    left: 9.25%;
    width: 17%;
    height: 23%;
    z-index: 100;
}

.zoom-area-4{
	border: 1px solid rgba(0,0,0,0);
    position: absolute;
    top: 57.25%;
    left: 9.25%;
    width: 17%;
    height: 23%;
    z-index: 100;
}

.zoom-area-5{
	border: 1px solid rgba(0,0,0,0);
    position: absolute;
    top: 14.25%;
    left: 62.75%;
    width: 17%;
    height: 23%;
    z-index: 100;
}

.zoom-area-6{
	border: 1px solid rgba(0,0,0,0);
    position: absolute;
    top: 29.25%;
    left: 62.75%;
    width: 17%;
    height: 23%;
    z-index: 100;
}

.zoom-area-7{
	border: 1px solid rgba(0,0,0,0);
    position: absolute;
    top: 43.25%;
    left: 82.25%;
    width: 17%;
    height: 23%;
    z-index: 100;
}
