<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/BASE :: head">
    <meta charset="UTF-8"></meta>
</head>

<body>
    <script src="/js/form-buttons.js"></script>
    <div id="wrapper">
    
        <header th:replace="fragments/BASE :: header"></header>

            
            <aside th:replace="fragments/BASE :: side"></aside>
            
            <section style="margin:40px">
                <h1>Content Management System</h1>
                <h2>Page details form</h2>
                <br></br>
                <h2>Please select and option:</h2>
                <form id="buttonForm" th:action="@{/console/form}" action="#" method="GET">
                    <input type="submit" name="page" style="height: 27px;" value="new">Create New Page</input>
                    <select id="page-selector" style="width:16%; height: 27px; display: inline; margin-left: 150px" name="pageName">
                        <option th:each="page : ${#lists.sort(pages)}" th:value="${page}" th:text="${page}" />
                    </select>
                    <input th:attrappend="disabled=${#lists.isEmpty(pages)} ? 'disabled'" type="submit" name="page" style="height: 27px; display: inline;" value="existing">Edit Page</input>
                </form>                
                
            </section>
    </div> <!--End Content Container-->

</body>
</html>