<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/BASE :: head">
    <meta charset="UTF-8"></meta>
</head>

<body th:with="taskName=${#strings.arraySplit(#httpServletRequest.requestURI,'/')[1]}">
    <div id="wrapper" th:with="task=${tasks.get(taskName)}">
    
		<header th:replace="fragments/BASE :: header"></header>

		  <div id="content-container" th:with="template=${task.get('template')}">
			
            <aside th:replace="fragments/BASE:: side"></aside>
            
            <section th:class="${task.get('background')} ? 'full-screen-image ' + ${task.get('background-class')} : 'narative'" class="narative">
		      
		        <!-- IF there is a video -->
                <div th:if="${task.get('videos')}">
                    <video class="corner" width="25%" controls="controls">
                        <source src="vid/engine-cowling-departs-on-runway.mp4" type="video/mp4"></source>
                        Your browser does not support the video tag.
                    </video>
                </div>
                
                <div th:replace="fragments/BASE :: taskTitle"></div>
		      
		        <div th:replace="${'fragments/' + template} :: sectionContent"></div>
		        
		        <footer th:replace="fragments/BASE :: footer"></footer>
		      
		    </section>
		</div> <!--End Content Container-->
		
		<!-- load each extra javascript file -->
        <div th:each="script : ${task.get('additional-javascript')}">
            <script th:src="${script.get('javascript-path')}" src=""></script>
        </div>
	
	</div> <!--End Wrapper-->

</body>
</html>