<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Air Learning</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h2>Air Learning Management Console</h2>
<h3>Results from the form submission:</h3>
<p th:text="'Page Title: ' + ${pageData.pageTitle}">Here 1</p>
<p th:text="'Page Heading: ' + ${pageData.pageHeading}">Here 2</p>
<p th:text="'Page Type: ' + ${pageData.pageType}">Here 3</p>
<p th:text="'Background Image: ' + ${pageData.backgroundImage}">Here 4</p>
</body>
</html>